.assetid{ 
    display:grid;
    margin-top: 10px;
    width: 300px; 
}

.dept {
   margin-top: 10px;   
}

.addform {
   display: grid;
}

h1{
    margin-left: 20px;
}

.adduser{
    margin-left: 50px;
}

.add{
color:rgb(212, 134, 32);
margin-left: 100px;
margin-bottom: 20px;
}
