.addbutton{
    margin-left: 900px;
    margin-top: 20px;
}
.tabbt{
    display: flex;
} 
.transform{
    display:block;
    width: 50%;
    height: 50%;
}
TextField{
    width:'40vh'; 
    height:'10vh';
}