@import url("http://fonts.googleapis.com/css2?family=Lato:wgh@300;400;700&display=swap");

/* styling scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1d4236;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3d6852;
  border-radius: 10px;
}
/* general styling */


.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "sidebar nav nav nav" "sidebar main main main";
}

@media only screen and (max-width: 978) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "nav" "main";
  }
}